<app-dialog
  [buttonOptions]="{
    confirm: {
      label: 'Bestätigen',
      color: 'primary',
    },
    decline: {
      label: 'Cancel',
      color: 'secondary',
    },
  }"
  title="Edit Button Component"
  (action)="close($event)"
>
  <mat-tab-group>
    <mat-tab label="General">
      <div class="tab-container">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Component ID</mat-label>
          <input matInput [formControl]="form.get('id')" />
        </mat-form-field>
        <div class="editor">
          @if (localizable) {
            @for (lang of languages; track lang) {
              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Button Text ({{ lang }})</mat-label>
                <input
                  matInput
                  [formControl]="getControlInGroup('text', lang)"
                />
              </mat-form-field>
            }
          } @else {
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Button Text</mat-label>
              <input matInput [formControl]="getControl('text')" />
            </mat-form-field>
          }
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Button Target</mat-label>
            <input matInput [formControl]="getControl('target')" />
          </mat-form-field>
          <mat-label>Button Color</mat-label>
          <lib-cms-color-editor
            label="Button Color"
            [control]="getControl('color')"
          />
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Styling"> <div class="tab-container"></div> </mat-tab>
  </mat-tab-group>
</app-dialog>
