<app-dialog
  [buttonOptions]="{
    confirm: {
      label: 'Bestätigen',
      color: 'primary',
    },
    decline: {
      label: 'Cancel',
      color: 'secondary',
    },
  }"
  title="Edit Image Component"
  (action)="close($event)"
>
  <mat-tab-group>
    <mat-tab label="General">
      <div class="tab-container">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Component ID</mat-label>
          <input matInput [formControl]="form.get('id')" />
        </mat-form-field>
        @if (localizable) {
          @for (lang of languages; let idx = $index; track lang) {
            @if ($index < 1 || !disbleLocalization) {
              <div class="editor">
                <lib-cms-asset-editor
                  [control]="getControlInGroup('img', lang)"
                  [multiSelect]="false"
                  [label]="'Image (' + lang + ')'"
                />
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Alternativ Text</mat-label>
                  <input
                    matInput
                    [multiSelect]="false"
                    [formControl]="getControlInGroup('alt', lang)"
                  />
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Title Text</mat-label>
                  <input
                    matInput
                    [multiSelect]="false"
                    [formControl]="getControlInGroup('title', lang)"
                  />
                </mat-form-field>
              </div>
            }
            @if (!disbleLocalization && $index < languages.length - 1) {
              <hr style="margin-bottom: 20px" />
            }
          }
          <mat-checkbox id="useSame" [formControl]="disableLocalizationControl"
            >No Localization</mat-checkbox
          >
        } @else {
          <div class="editor">
            <label>Image</label>
            <lib-cms-asset-editor
              [control]="getControl('src')"
              label="Select image"
            />
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Title Text</mat-label>
              <input matInput [formControl]="getControl('alt')" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Title Text</mat-label>
              <input matInput [formControl]="getControl('title')" />
            </mat-form-field>
          </div>
        }
      </div>
    </mat-tab>
    <mat-tab label="Styling"> <div class="tab-container"></div> </mat-tab>
  </mat-tab-group>
</app-dialog>
