:host {
  display: block;
  padding: 20px;
  footer {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
  }

  & .dialog-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
