<section class="dialog-wrapper">
  <h2 id="dialog-title">{{ title }}</h2>

  <div class="dialog-body">
    <ng-content></ng-content>
  </div>

  <div class="dialog-actions">
    @if(buttonOptions?.decline) {
    <button mat-button (click)="action.emit('cancel')" [color]="buttonOptions.decline.color || null">
      {{ buttonOptions.decline.label || 'Cancel' }}
    </button>

    }

    @if(buttonOptions?.confirm) {
    <button mat-button (click)="action.emit('confirm')" [color]="buttonOptions.confirm.color || 'primary'">
      {{ buttonOptions.confirm.label || 'OK' }}
    </button>
    }
  </div>
</section>