<section class="dialog-wrapper">
  <h2 id="dialog-title">{{ title }}</h2>

  <div class="dialog-body">
    <ng-content></ng-content>
  </div>

  <div class="dialog-actions">
    <button
      *ngIf="buttonOptions?.cancel"
      mat-button
      (click)="action.emit('cancel')"
      [color]="buttonOptions.cancel.color || null"
    >
      {{ buttonOptions.cancel.label || 'Cancel' }}
    </button>

    <button
      *ngIf="buttonOptions?.confirm"
      mat-button
      (click)="action.emit('confirm')"
      [color]="buttonOptions.confirm.color || 'primary'"
    >
      {{ buttonOptions.confirm.label || 'OK' }}
    </button>
  </div>
</section>
