:host {
  display: block;

  & .controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  table {
    max-width: 100%;
  }

  .link {
    cursor: pointer;
    text-decoration: underline;
    padding: 0;

    &.warn {
      color: red;
    }
  }

  & .color {
    text-align: center;
    display: block;
    padding: 0px 10px;
  }

  .status {
    background-color: yellow !important;
    & .published {
      background-color: lightgreen;
    }

    & .unpublished {
      background-color: lightblue;
    }
  }
}
