:host {
  display: block;

  table {
    max-width: 100%;
  }

  .link {
    cursor: pointer;
    text-decoration: underline;
  }

  & .color {
    text-align: center;
    display: block;
    padding: 0px 10px;
  }
}
