<button mat-flat-button color="primary" (click)="navigate2Editor()">
  Create new Entry
</button>

@if (selectedItemsSignal().size > 0) {
  <button mat-flat-button color="warn" (click)="navigate2Editor()">
    {{ selectedItemsSignal().size > 1 ? 'Delte Entry' : 'Delete Entries' }}
  </button>
}

<button (click)="testDialog()">TestDialog</button>
<app-item-table
  [selectedItemsSignal]="selectedItemsSignal"
  [entries]="entries"
  [module]="module"
  (idClicked)="navigate2Editor($event)"
></app-item-table>
