<div
  class="asset-list"
  appDropZone
  (filesDropped)="handleDrop($event)"
  (filesHovered)="isHovering = $event"
  [class.hover]="isHovering"
>
  @for (asset of assets; track asset.id) {
    <div
      class="item"
      [style.backgroundImage]="
        'url(' + generateThumbnailIdAssetUrl(asset.id) + ')'
      "
      (click)="selectAsset(asset)"
      [class.selected]="isAssetSelected(asset)"
    >
      @if (multiSelect) {
        <input type="checkbox" [checked]="isAssetSelected(asset)" />
      }

      @if (!multiSelect) {
        <input type="radio" [checked]="isAssetSelected(asset)" />
      }
    </div>
  }

  @if (assets?.length < 1) {
    <p>No assets found. Upload your first one</p>
  }
</div>
@if (isUploading) {
  <div class="upc">
    <div class="upc-content">
      <h4>Uploading...</h4>
      <mat-progress-bar
        mode="determinate"
        [value]="uploadingProgress"
      ></mat-progress-bar>
    </div>
  </div>
}
