.cdk-drag-preview {
  background-color: white;

  &.section {
    min-height: 50px;
    height: 200px;
    border: 2px solid transparent;
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid purple;

    & .control {
      background-color: purple;
    }

    & .row {
      & .content {
        display: grid;
        gap: 5px;
        width: 100%;
      }

      .control {
        background-color: darkturquoise;
      }

      & .component {
        width: 100%;
        & .control {
          background-color: grey;
        }

        & .content {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  &.row {
    min-height: 60px;
    border: 2px solid transparent;
    border-collapse: collapse;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    min-width: 100px;
    width: 100%;
    display: flex;
    border: 2px solid darkturquoise;

    & .control {
      background-color: darkturquoise;
    }

    & .component .control {
      background-color: grey;
    }

    & .content {
      display: grid;
      gap: 5px;
      width: 100%;

      & .column {
        background-color: #efefef;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    }
  }

  &.component {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 200px;
    border: 2px solid grey;

    & .control {
      background-color: grey;
    }

    & .content {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
    }
  }

  & .control {
    color: white;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 0.7rem;

    & .toolbar {
      display: flex;
      gap: 6px;

      & mat-icon {
        font-size: 20px !important;
        cursor: pointer;
      }
    }
  }

  & .addBtn {
    display: none;
  }

  & .column {
    min-height: 50px;
    background-color: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  min-height: 90vh;
}

body * {
  box-sizing: border-box;
}

html {
  --mat-sys-corner-full: 4px;
  min-height: 100%;
}

.mat-mdc-form-field {
  &.w-full {
    width: 100% !important;
  }

  &.w-half {
    width: 50% !important;
  }

  &.w-25 {
    width: 25% !important;
    min-width: 250px;
  }
}

a.link {
  text-decoration: underline;
  text-color: -webkit-link;
  cursor: pointer;
}

lib-cms-geolocation-editor
  .mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
  display: none;
}

.clipboard-area {
  transition: background-color 0.2s;
  background-color: #dedede;
  padding: 1px 5px;
  border-radius: 4px;
  user-select: none;
  -webkit-user-select: none; /* Für Safari */
  cursor: copy;
  &.copied {
    background-color: #d4edda;
  }
}

mat-form-field.noBottomSpace {
  & .mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
    display: none;
  }
}

.nat-warn {
  color: red;
}

app-root {
  height: 100%;
}

.mat-mdc-form-field-infix {
  display: flex;
}

.mat-icon-24 {
  font-size: 50px;
}

.component-selection .mat-mdc-menu-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

