/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

html {
  --mat-sys-corner-full: 4px;
}

.mat-mdc-form-field {
  &.w-full {
    width: 100% !important;
  }

  &.w-half {
    width: 50% !important;
  }

  &.w-25 {
    width: 25% !important;
    min-width: 250px;
  }
}

a.link {
  text-decoration: underline;
  text-color: -webkit-link;
  cursor: pointer;
}

lib-cms-geolocation-editor
  .mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
  display: none;
}

.clipboard-area {
  transition: background-color 0.2s;
  background-color: #dedede;
  padding: 1px 5px;
  border-radius: 4px;
  user-select: none;
  -webkit-user-select: none; /* Für Safari */
  cursor: copy;
  &.copied {
    background-color: #d4edda;
  }
}

